Data Source: http://cgeh.nl/cgeh/#conflict

Example Analysis: https://greenet09.github.io/datasophy/2018/07/07/global-violence.html

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('Conflict Catalog 18 vars.csv', encoding='ISO-8859-1').fillna('')
df.head(6)

,Common Name,Name,CountryCode,NumberActors,MilFatalities,TotalFatalities,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,Region,Century,Decade,DurationD,DurationM,DurationY
0,,"England (Henry IV vs Richard II), 1400",,2,,,1400,1,,1400,2,,3,1,140,,1,0
1,,"England-Scotland, 1400-02",,2,,,1400,,,1402,,,3,1,140,,,2
2,,"Mongols (Timur)-Georgia, 1400",,2,,,1400,,,1400,,,4,1,140,,,0
3,,"Mongols (Timur)-Turkey, 1400",,2,,,1400,8,,1400,9,,4,1,140,,1,0
4,,"Mongols (Timur)-Egypt, Syria (Burji Mamluks), ...",,3,,,1400,10,,1401,2,,5,1,140,,4,1
5,,"China (minority in Hebei, Shandong, Anhui, Jia...",710,2,,10000,1400,,,1402,,,12,1,140,,,2