https://data2.unhcr.org/en/situations/mediterranean

As of July 1st, 2019:

36,178 total arrivals
27,959 by sea
8,219 by land
584 dead or missing

In [2]:
import pandas as pd
from pandas.io.json import json_normalize #package for flattening json in pandas df
import requests

import plotly.plotly as py
import plotly
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
cf.set_config_file(offline=True)
import json

In [6]:
arrivals = pd.read_json('https://data2.unhcr.org/api/population/get/sublocation?&year=latest&sv_id=11&population_group=4797,4798')
# nationalities = pd.read_json('https://data2.unhcr.org/api/population/get/origin?widget_id=120708&sv_id=11&population_group=4924&population_collection=28&limit=10&fromDate=2019-01-01')

In [4]:
df

,situation_view_id,situation_view_name,situation_view_description,data
0,11,Mediterranean Situation,"Persecution, conflict and poverty forced over ...","{'geomaster_name': 'Greece', 'geomaster_id': 5..."
1,11,Mediterranean Situation,"Persecution, conflict and poverty forced over ...","{'geomaster_name': 'Spain', 'geomaster_id': 52..."
2,11,Mediterranean Situation,"Persecution, conflict and poverty forced over ...","{'geomaster_name': 'Italy', 'geomaster_id': 52..."
3,11,Mediterranean Situation,"Persecution, conflict and poverty forced over ...","{'geomaster_name': 'Malta', 'geomaster_id': 39..."
4,11,Mediterranean Situation,"Persecution, conflict and poverty forced over ...","{'geomaster_name': 'Cyprus', 'geomaster_id': 5..."